@font-face {
    font-family: rubik;
    src: url(../../public/fonts/Rubik/Rubik-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: rubik;
    src: url(../../public/fonts/Rubik/Rubik-Regular.ttf);
    font-weight: 400;
}